[Desktop Entry]
Name=Syntaxic
Comment=Syntaxic Text Editor
Exec=/opt/syntaxic/syntaxic %U
Icon=/opt/syntaxic/icon.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;
